{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <div class="card-body">
            <h2 class="card-title text-center mb-3">{{ announcement.title }}</h2>
            <p class="text-muted text-center">{{ announcement.publish_date|date:"F j, Y" }}</p>
            <hr>
            <p class="card-text">{{ announcement.content }}</p>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'renthub:home' %}" class="btn btn-primary">Back to Home</a>
    </div>
</div>
{% endblock %}
