{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Contact Us</h1>
    
    <div class="row justify-content-center mb-5">
        <div class="col-md-6">
            <h3 class="text-center">Report a Problem</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ maintenance_form.as_p }}
                <button type="submit" class="btn btn-primary w-100 mt-3">Send</button> <!-- Full-width button for consistency -->
            </form>
        </div>
    </div>
</div>
{% endblock %}
