{% extends 'base.html' %}
{% block content %}
<h1>Payment details</h1>
{% if transaction %}
    <div class="room-item" style="display: flex; align-items: center; margin-bottom: 10px; border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
    <img src="{{ transaction.image.url }}" width="150" height="150" style="margin-right: 15px; border-radius: 4px; object-fit: cover;" alt="Payment Slip Image">

    <div>
        <h3 style="margin: 0 0 5px; font-size: 1.2em; color: #333;">
            Room Number: {{ transaction.room.room_number }}
        </h3>
        <p style="margin: 0; font-size: 0.95em; color: #555;">
            <strong>Price:</strong> {{ transaction.price }} <br>
            <strong>Date:</strong> {{ transaction.date }} <br>
            <strong>Status:</strong> {{ transaction.status }}
        </p>
    </div>
    </div>
{% else %}
    <p>This rental payment does not exist.</p>
{% endif %}
{% endblock %}