{% extends 'base.html' %}
{% block content %}
{% if rooms %}
    {% for room in rooms %}
        <div class="room-item" style="display: flex; align-items: center; margin-bottom: 10px;">
                <a href="{% url 'renthub:payment' room.room_number %}" style="margin-right: 10px;">
                    Room Number: {{ room.room_number }}
                </a>
                <p style="margin: 0;">Status: {{ room.status }}</p>
        </div>
    {% endfor %}
{% else %}
        <p>You currently have no payments</p>
{% endif %}
{% endblock %}