{% extends 'base.html' %}

{% block content %}
{% if room %}
    <h1>room: {{ room }}</h1>
    {% if room.room_type.image %}
        <br><img src="{{ room.room_type.image.url }}" alt="{{ room.room_type.type_name }}" style="width: 200px; height: auto;">
    {% endif %}
    <p>Detail</p>
    <p>Description: {{ room.room_type.description }}</p>
    <p>Features:</p>
    <ul>
    {% for feature in room.room_type.features.all %}
        <li>{{ feature.name }}</li>
    {% empty %}
        <li>No features available.</li>
    {% endfor %}
    </ul>
    <p>Ideal For: {{ room.room_type.ideal_for }}</p>
    <p><b>Cost: {{ room.price }} ฿ / month</b></p>

    {% if room.availability %}
        {% if rental_request and latest_request.status != 'reject' %}
            <p>You have submitted a rent request.</p>
        {% else %}
            <a href="{% url 'renthub:payment' room.room_number %}">Rent</a>
        {% endif %}
    {% else %}
        {% if rental %}
            <p>You have rented this room.</p>
        {% else %}
            <p>This room is already taken.</p>
        {% endif %}
    {% endif %}
{% else %}
    <p> This room doesn't exist</p>
{% endif %}
{% endblock %}